@keyframes animNew{
    from{
        opacity: 0;
        width: 0;
    }
}

@keyframes animHide{
    0%{
        transform: scale(1);
    }
    30%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0);
    }
}

html, body{
    margin:0;
    /* background-color: #41295a; */
    background-color: #141835;
    font-family: hind, sans-serif;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul.submenu li{
    display: block;
    text-align: left;
}

nav a{
    display: block;
    padding: 17px 19px;
    color: #fafafa;
    text-decoration: none;
    font-weight: 600;
    font-size: small;
}

@media (min-width: 768px){
    nav a{
        font-size: large;
    }
}

nav ul{
    text-align: right;
}

nav li{
    vertical-align: middle;
}

nav li .submenu{
    position: absolute;
    right:19px;
    display: none;
    background-color: #fafafa;
}

.submenu a{
    color: #8042f6;
    font-size: 14px;
}

.rooms-container{
    display: flex;
    overflow: hidden;
}

.rooms-own, .rooms-guest{
    min-width: 100%;
    overflow: auto;
    margin-left: 0;
    transition: all 900ms ease;
    position: relative;
}

.card{
    /* border-radius: 23px; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    width: 94%;
    height: 200px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    position: relative;
    margin: 3%;
    margin-top: 20px;
    vertical-align: top;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

/* 
.card:nth-child(4n+1){
    margin-left: 2.5%;
} */

@media (min-width: 480px){
    .card{
        width: 47%;
        margin: 1%; 
        display: inline-flex;     
    }
}


@media (min-width: 720px){
    .card{
        width: 31%;
        margin: 1%; 
        display: inline-flex;     
    }
    .card:nth-child(3n+1){
        margin-left: 0.9%;
    }
}


@media (min-width: 1024px){
    .card{
        width: 22%;
        margin: 1%; 
        display: inline-flex;     
    }
    .card:nth-child(3n+1){
        margin-left: 1%;
    }
    .card:nth-child(4n+1){
        margin-left: 3%;
    }
}

.card:hover{
    transform: scale(1.05);
}

.card h2{
    margin: 0;
    margin-top: 10px;
    font-size: large;
    font-weight: 600;
}


.card.new{
    animation: animNew 900ms ease 1;
}

.card.hidden{
    width: 0;
    height:0;
    opacity: 0;
    margin:0;
}

.card.room{
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.card.room.add{
    cursor: default;
    transition: all 600ms ease;
}

.card.room.add:hover{
    transform: none;
}

.room-icon{
    width: 25%;
}

.stats{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    font-size: small;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #141835;
    color: #fafafa;
}

.stats > div{
    box-sizing: border-box;
    padding: 15px 10px;
    text-align: center;
    width: 33%;
}

.stat-running{
    color: #94f100;
}

.stat-usage{
    color: #ea8600;
}

.stat-usage::after{
    content: 'KWH';
}

.stat-devices{
    color: #1c90dd;
}


.online{
    top: 40%;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #94f100;
    box-shadow:0 0 5px #94f100;
}

.toggle-container{
    text-align: right;
    color: #ddd;
    padding: 10px 3% 10px 0;
}
.toggle-wraper, .toggle-btn-wraper{
    display: inline-flex;
    align-items: center;
    position: relative;
}

.toggle-wraper label{
    padding-right: 7px;
}

.btn{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.07);
    color: #ddd;
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.inp{
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.07);
    padding: 5px 10px;
}

.btn:focus, .inp:focus{
    outline: none;
}

.btn-toggle{
    padding: 10px 15px;
    z-index: 20;
    font-size: xx-small;
    font-weight: 600;
}

.toggle-btn-wraper .selected{
    background-color: #477201;
    border-color: #477201;
    position: absolute;
    left: 0;
    right: 49%;
    top:0;
    bottom:0;
    z-index: 10;
    transition: all 900ms ease;
}


.img-selector{
    position: relative;
    text-align: center;
}

.btn-left, .btn-right{
    position: absolute;
    top:0;
    bottom:0;
    padding: 0 9px;
}

.btn-left{
    left:0;
}

.btn-right{
    right: 0;
}

.txt-room-name{
    margin-top: 10px;
    text-align: center;
}

.txt-room-name .inp{
    color: #fff;
    font-size: large;
    font-weight: 500;
    text-align: center;
    max-width:80%;
}

.btn-add-room{
    color: #fff;
    padding: 12px 10px;
    width: 100%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 300ms ease;
    font-size: 14px;
    font-weight: 600;
}

.btn-add-room:hover{
    background-color: #477201;
    border-color: #477201;
}


.room-inside{
    position: fixed;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: all 300ms ease-in-out;
}

.room-inside .in-room-btns{
    text-align: right;
    border-bottom: 1px solid #141835;
}

.btn-close{
    background: transparent;
    border-color: transparent;
    padding: 7px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.room-name{
    display: inline-block;
    float: left;
    padding: 10px 15px;
}

.equipments{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.equipment{
    width: 180px;
    height: 180px;
    border: 10px solid #1c90dd;
    border-radius: 95px;
    background-color: rgba(255, 255, 255, 0.07);
    box-sizing: border-box;
}

.equipment.off{
    border-color: #ea8600;
}

.equipment.on{
    border-color:#477201;
}

/* Component custom scroll */
@media (min-width: 768px){
.scroll::-webkit-scrollbar {
    width: 5px;
  }
   
  .scroll::-webkit-scrollbar-track {
    background: transparent;
  }
   
  .scroll::-webkit-scrollbar-thumb {
    background: #666; 
  }
}
  /* End of scroll component */