html, body{
    margin:0;
    /* background-color: #41295a; */
    background-color: #141835;
    font-family: hind, sans-serif;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul.submenu li{
    display: block;
    text-align: left;
}

nav a{
    display: block;
    padding: 17px 19px;
    color: #fafafa;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
}

nav ul{
    text-align: right;
}

nav li .submenu{
    position: absolute;
    right:19px;
    display: none;
    background-color: #fafafa;
}

.submenu a{
    color: #8042f6;
    font-size: 14px;
}

.rooms-container{
    display: flex;
    overflow: hidden;
}

.rooms-own, .rooms-guest{
    min-width: 100%;
    margin-left: 0;
    transition: all 900ms ease;
}

.card{
    /* border-radius: 23px; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    width: 22%;
    min-height: 200px;
    padding: 20px 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    position: relative;
    margin: 1%;
    margin-top: 20px;
    vertical-align: top;
    cursor: pointer;
    transition: transform 300ms ease-in-out;
}

.card:hover{
    transform: scale(1.05);
}

.card h2{
    margin: 0;
    margin-top: 10px;
    font-size: large;
    font-weight: 600;
}

.card:nth-child(4n+1){
    margin-left: 2.5%;
}

.card.room{
    background-color: rgba(255, 255, 255, 0.07);
    color: #fff;
}

.card.room.add{
    cursor: default;
}

.card.room.add:hover{
    transform: none;
}

.room-icon{
    width: 25%;
}

.stats{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    font-size: small;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    color: #fafafa;
}

.stats > div{
    box-sizing: border-box;
    padding: 15px 10px;
    text-align: center;
    width: 33%;
}

.stat-running{
    color: #94f100;
}

.stat-usage{
    color: #ea8600;
}

.stat-devices{
    color: #1c90dd;
}


.online{
    top: 40%;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #94f100;
    box-shadow:0 0 5px #94f100;
}

.toggle-container{
    text-align: right;
    color: #ddd;
    padding: 10px 3% 10px 0;
}
.toggle-wraper, .toggle-btn-wraper{
    display: inline-flex;
    align-items: center;
    position: relative;
}

.toggle-wraper label{
    padding-right: 7px;
}

.btn{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.07);
    color: #ddd;
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.inp{
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.07);
    padding: 5px 10px;
}

.btn:focus, .inp:focus{
    outline: none;
}

.btn-toggle{
    padding: 10px 15px;
    z-index: 20;
}

.toggle-btn-wraper .selected{
    background-color: #477201;
    border-color: #477201;
    position: absolute;
    left: 0;
    right: 49%;
    top:0;
    bottom:0;
    z-index: 10;
    transition: all 900ms ease;
}


.img-selector{
    position: relative;
    text-align: center;
}

.btn-left, .btn-right{
    position: absolute;
    top:0;
    bottom:0;
    padding: 0 9px;
}

.btn-left{
    left:0;
}

.btn-right{
    right: 0;
}

.txt-room-name{
    margin-top: 10px;
    text-align: center;
}

.txt-room-name .inp{
    color: #fff;
    font-size: large;
    font-weight: 500;
    text-align: center;
    max-width:80%;
}

.btn-add-room{
    color: #fff;
    padding: 12px 10px;
    width: 100%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 300ms ease;
    font-size: 14px;
    font-weight: 600;
}

.btn-add-room:hover{
    background-color: #477201;
    border-color: #477201;
}