@keyframes animNew{
    form{
        width: 0;
        height: 0;
        transform: scale(0);
    }
}

@keyframes animHide{
    0%{
        transform: scale(1);
    }
    30%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0);
    }
}

html, body{
    margin:0;
    /* background-color: #41295a; */
    background-color: #141835;
    font-family: hind, sans-serif;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul.submenu li{
    display: block;
    text-align: left;
}

nav a{
    display: block;
    padding: 17px 19px;
    color: #fafafa;
    text-decoration: none;
    font-weight: 600;
    font-size: small;
}

nav a.btn{
    padding: 2px 10px;
}

@media (min-width: 768px){
    nav a{
        font-size: large;
    }
    nav a.btn{
        font-size: medium;
    }
}

nav ul{
    text-align: right;
}

nav li{
    vertical-align: middle;
}

nav li .submenu{
    position: absolute;
    right:19px;
    bottom: -40px;
    display: none;
    background-color: #fafafa;
    border-radius: 5px;
    z-index: 10;
}

.submenu .notch{
    position: absolute;
    display: block;
    top: -10px;
    right: 5px;
    border-bottom: 10px solid #fafafa;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 0;
}

.submenu a{
    color: #333;
    font-size: 14px;
    padding: 9px 25px;
    /* transition: all 300ms ease; */
}
/* 
.submenu a:hover{
} */

nav li:hover .submenu{
    display: block;
}

.rooms-container{
    display: flex;
    overflow: hidden;
}

.rooms-own, .rooms-guest{
    min-width: 100%;
    overflow: auto;
    margin-left: 0;
    transition: all 900ms ease;
    position: relative;
}

.card{
    /* border-radius: 23px; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    width: 94%;
    height: 200px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    position: relative;
    margin: 3%;
    margin-top: 20px;
    vertical-align: top;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

/* 
.card:nth-child(4n+1){
    margin-left: 2.5%;
} */

@media (min-width: 480px){
    .card{
        width: 47%;
        margin: 1%; 
        display: inline-flex;     
    }
}


@media (min-width: 720px){
    .card{
        width: 31%;
        margin: 1%; 
        display: inline-flex;     
    }
    .card:nth-child(3n+1){
        margin-left: 0.9%;
    }
}


@media (min-width: 1024px){
    .card{
        width: 22%;
        margin: 1%; 
        display: inline-flex;     
    }
    .card:nth-child(3n+1){
        margin-left: 1%;
    }
    .card:nth-child(4n+1){
        margin-left: 3%;
    }
}

.card:hover{
    transform: scale(1.05);
}

.card h2{
    margin: 0;
    margin-top: 10px;
    font-size: large;
    font-weight: 600;
}


.card.new{
    animation: animNew 900ms ease 1;
}

.card.hidden{
    width: 0;
    height:0;
    opacity: 0;
    margin:0;
}

.card.room{
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.card.room.add{
    cursor: default;
    transition: all 600ms ease;
}

.card.room.add:hover{
    transform: none;
}

.room-icon{
    width: 25%;
}

.room-add{
    padding-top: 15px;
}

.room .btn-remove{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
}

.stats{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    font-size: small;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #141835;
    color: #fafafa;
}

.stats > div{
    box-sizing: border-box;
    padding: 15px 10px;
    text-align: center;
    width: 33%;
}

.stat-running{
    color: #94f100;
}

.stat-usage{
    color: #ea8600;
}

.stat-usage::after{
    content: 'KWH';
}

.stat-devices{
    color: #1c90dd;
}


.online{
    top: 40%;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #94f100;
    box-shadow:0 0 5px #94f100;
}

.toggle-container{
    text-align: right;
    padding: 10px 3% 10px 0;
}
.toggle-container, .toggle-btn-wraper{
    display: inline-flex;
    align-items: center;
    position: relative;
}

.toggle-wraper label{
    padding-right: 7px;
}

.btn{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.07);
    color: #ddd;
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.inp{
    background-color: transparent;
    border: transparent;
    color: #fafafa;
}

.btn:focus, .inp:focus{
    outline: none;
}

.btn-toggle{
    padding: 10px 15px;
    z-index: 20;
    font-size: xx-small;
    font-weight: 600;
}

.toggle-btn-wraper .selected{
    background-color: #477201;
    border-color: #477201;
    position: absolute;
    left: 0;
    right: 49%;
    top:0;
    bottom:0;
    z-index: 10;
    transition: all 900ms ease;
}


.img-selector{
    position: relative;
    text-align: center;
}

.btn-left, .btn-right{
    position: absolute;
    top:0;
    bottom:0;
    padding: 0 9px;
}

.btn-left{
    left:0;
}

.btn-right{
    right: 0;
}

.txt-room-name, .txt-device-name{
    margin-top: 10px;
    text-align: center;
}

.txt-room-name .inp, .txt-device-name .inp{
    color: #fff;
    font-size: large;
    font-weight: 500;
    text-align: center;
    max-width:80%;
}

.txt-device-type{
    padding: 10px 12px;
}

.txt-device-type > *{
    display: inline-block;
    vertical-align: middle;
}

.btn-add-room{
    color: #fff;
    padding: 12px 10px;
    width: 100%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 300ms ease;
    font-size: 14px;
    font-weight: 600;
}

.btn-add-room:hover{
    background-color: #477201;
    border-color: #477201;
}


.room-inside{
    position: fixed;
    border-radius: 9px;
    width: 94%;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: all 300ms ease-in-out;
}

/* 
.card:nth-child(4n+1){
    margin-left: 2.5%;
} */

@media (min-width: 480px){
    .room-inside{
        width: 47%;
    }
}


@media (min-width: 720px){
    .room-inside{
        width: 31%;  
    }
}


@media (min-width: 1024px){
    .room-inside{
        width: 22%;    
    }
}

.room-inside .in-room-btns{
    text-align: right;
    border-bottom: 1px solid #141835;
}

.in-room-btns .btn{
    background: transparent;
    border-color: transparent;
    padding: 7px;
}

.btn-close{
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.room-name{
    display: inline-block;
    float: left;
    padding: 10px 15px;
}

.equipments{
    overflow: auto;
}

.equipments-wraper{
    transition: all 300ms ease;

}

.equipment{
    display: inline-block;
    vertical-align: top;
    padding:0;
    height: auto;
    width: 90%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.07);
    box-sizing: border-box;
    margin:20px 0;
    margin-left: 5%;
}

.equipment:hover{
    transform: none;
}


.equipment-head, .equipment-stats{
    padding: 7px 9px;
    height: 40px;
    box-sizing: border-box;
}

.equipment-head{
    border-bottom: 1px solid #141835;
}

.equipment-head .btn{
    float: right;
    background-color: transparent;
    border-color: transparent;
}

/* .equipment-head .btn-remove{
    color: #ff2d57;
} */

.equipment-stats{
    display: flex;
    border-top: 1px solid #141835;
    font-size: small;
}
.equipment-stats > div{
    min-width: 50%;
}

.equipment-stats > div:last-child{
    text-align: right;
}

.stat-online{
    color: #94f100;
}
/* 
.stat-online::after{
    content: 'hours';
} */

.equipment span{
    display: inline-block;
    vertical-align: middle;
}

.equipment-head h3{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    padding-left: 7px;
    display: inline-block;
}

.equipment-body{
    display: flex;
    height: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 480px){
    .equipment{
        width: 46%;
        margin: 20px 1%;
    }

    .equipment:nth-child(2n + 1){
        margin-left: 2%;
    }
}

@media (min-width: 768px){
    .equipment{
        width: 30%;
        margin: 20px 1%;
    }

    .equipment:nth-child(2n + 1){
        margin-left: 1%;
    }

    .equipment:nth-child(3n + 1){
        margin-left: 2%;
    }
}

@media (min-width: 1024px){
    .equipment{
        width: 22%;
        margin: 20px 1%;
    }

    .equipment:nth-child(3n + 1){
        margin-left: 1%;
    }

    .equipment:nth-child(4n + 1){
        margin-left: 2.5%;
    }
}

.equipment.off{
    /* color: #ea8600; */
    /* box-shadow: 0 0 10px #ea8600; */
}

.equipment.on{
    /* color:#477201; */
    /* box-shadow: 0 0 10px #477201; */
}

/* Componet switch */


.switch-container{
    color: #ddd;
}
.switch-container{
    display: inline-flex;
    align-items: center;
    position: relative;
}

.switch-container .btn{
    font-size: medium;
}

.switch-container .selected{
    background-color: #477201;
    border-color: #477201;
    position: absolute;
    left: 0;
    right: 50%;
    top:0;
    bottom:0;
    z-index: 10;
    transition: all 300ms ease;
}

.selected.off{
    background-color: #ea8600;
    border-color: #ea8600;
    left: 50%;
    right: 0;
}

/* Component custom scroll */
@media (min-width: 576px){
.scroll::-webkit-scrollbar {
    width: 5px;
  }
   
  .scroll::-webkit-scrollbar-track {
    background: transparent;
  }
   
  .scroll::-webkit-scrollbar-thumb {
    background: #666; 
  }
}
  /* End of scroll component */


  .modal-container{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 20;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 300ms ease;
  }
  .modal{
      width: 90%;
      max-width: 360px;
      background-color: #141835;
      color: #fafafa;
      border-radius: 7px;
  }
  .modal-head{
      padding: 7px 9px;
      border-bottom: 1px solid #000;
      position: relative;
  }

  .modal-head .btn-close{
      position: absolute;
      right: 9px;
      top: 7px;
      background-color: transparent;
      border-color: transparent;
  }

  .modal-head h3{
      padding: 0;
      margin:0;
  }

  .modal-body{
    max-height: 60%;
    position: relative;
  }
  .modal-footer{
    border-top: 1px solid #141835;
    padding: 7px 9px;
    display: none;
  }

  .message{
      font-size: large;
      padding: 10px;
  }

  /* Component Guest */

  .guest{
      position: relative;
      border-bottom:1px solid  #000;
      color: #fafafa;
  }

  .guest:last-child{
      border-bottom: none;
  }

  .guest-icon{
      display: inline-block;
      float: left;
      padding-top: 10px;
      width: 40px;
      height: auto;
      text-align: center;
  }

  .guest .btn-remove{
      position: absolute;
      top:10px;
      right:0;
      background-color: transparent;
      border-color: transparent;
  }

  .guest .guest-txt{
      padding: 7px;
      padding-left: 45px;
  }

  .small{
      font-size: small;
  }

  .btn-container{
      display: flex;
  }

  .btn-container .btn{
      padding: 10px;
      width: 50%;
      transition: all 300ms ease;
  }

  .btn-ok{
      border-bottom-left-radius: 7px;
  }

  .btn-cancel{
      border-bottom-right-radius: 7px;
  }

  .btn-ok:hover{
      background-color: #477201;
      border-color: #477201;
  }

.btn-cancel:hover{
    background-color: #ff2d57;
    border-color: #ff2d57;
}

/* msg center container */

@keyframes animMsg{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes animLastMsg{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes animShake{
    0%{
        top: 0;
    }
    50%{
        top: -40px;
    }
    80%{
        top: 10px;
    }
    100%{
        top: 0;
    }
}

.msg-center-container{
    display: flex;
    height:60vh;
    color: #fafafa;
    font-size: 48px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

@media (min-width: 576px){
    .msg-center-container{
        height: 90vh;
    }
}

.msg-center{
    position: relative;
    width: 100%;
}

.msg-center a{
    position: relative;
    color: #ff2d57;
    text-decoration: none;
    animation: animShake 1s;
    animation-delay: 6s;
}

.msg-center-container .msg{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    animation: animMsg 2s;
}

.msg.small{
    font-size: xx-large;
}

.msg-center-container #msg-1{
    animation-delay: 100ms;
}

.msg-center-container #msg-2{
    animation-delay: 2.1s;
}

.msg-center-container #msg-3{
    animation: animLastMsg 2s;
    animation-fill-mode: forwards;
    animation-delay: 4.2s;
}